.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

.steps_container {
  margin: 32px 0;
}

.content {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0 60px;
  text-align: center;
}

.loadSettingsContainer {
  width: 500px;
  text-align: center;
}

:global(.ant-form-item-explain-error) {
  text-align: left;
}
